*{
    margin: 0px;
    font-family: Comic Sans MS, cursive;
}

/* BODY HEADER */

#body-header{
  height: 65vh;  /* since default dimensions of the image container are 0px by 0px. */
  width: 100vw;
  background-image: url(./images/macbook_mouse.jpg);
  opacity: 0.8;   /* To give blurry effect. */
  background-size: cover;  /* To make image cover the entire available area. */
  background-position: center center ;
  background-attachment: fixed;  /* Parallax Effect*/
  box-sizing: border-box;
}



#main-body{
    box-sizing: border-box;
}

/* HORIZONTAL LISTS */

.horizontal-list{
    list-style: none;
    margin: 0px; 
    padding: 0%;
}
.horizontal-list li{
    display: inline-block;
    padding: 0px;
    margin: 20px 20px 5px;
    font-size: large;
}
.horizontal-list li a{
    color: aliceblue;
    text-decoration: none;
}
#nav-menu li a{
    transition: color 0.5s, border-bottom 1s;
}
#nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid lightgray;
}
.text-center{
    text-align: center;
}

/* NAME & SOCIAL ICONS */

#name-social-container{
    margin-top: 12vh;
}
#my-name{
    font-size: 4rem ;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    color: aliceblue;
}
.social-icons{
    position: relative;
    margin-bottom: 2rem;

}

/* ANIMATION FOR SOCIAL ICONS */ 

@keyframes blinking1 {
    0% {
      background-color: black;
      border: 1px solid #666;
    }
    100% {
      background-color: grey;
      border: 1px solid #666;
    }
}
@keyframes blinking2 {
    0% {
      background-color: black;
      /* border: 3px solid #666; */
      box-shadow: 0px 0px 6px 4px #666;  /*h offset(+ve value pushes towards right), v offset(+ve value pushes towards bottom), blur, spread, color*/
    }
    100% {
      background-color: black;
      /* border: 3px solid #666; */
      box-shadow: 0px 0px 6px 4px #666;
    }
}
.social{
    animation: blinking1 1s infinite;
    border-radius: 50%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    width: 40px;
}
.social:hover{
    animation: blinking2 1s infinite;
}

/* ABOUT SECTION */

#about{
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    margin-right: 0.5rem;
}
#my-image{
    /* height: 15rem; */
    /* width: 14rem; */
    height: 34vh;
    width: 32vh;
    margin: auto;
    margin-top: -17vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px gray;
}

#about-para{ 
    width: 70%;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 10px;
    text-align: justify;
    margin: auto;
    margin-top: 1%;
    letter-spacing: 0.8px;
    line-height: 28px;
    /* color: rgb(109, 109, 109); */
    background: linear-gradient(to right, black 0%, gray 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#about-para #hello{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.text-highlight{
    color: #2857a4;
    /* font: bold; */
    font-weight:500;
}


/* BOTTOM SECTIONS */ 

h1{
    font-size: xx-large;
    font-weight: 700;
}
                                                       
section{
    width: 100vw;
    /* height: 75vh; */    
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    box-sizing: border-box;
}
main > :nth-child(even){
    background-color: rgb(248, 248, 248);
}
/* main :nth-child(odd){
    background-color: rgb(240, 240, 240);
} */
.section-heading{
    margin-top: 2rem;
    padding: 20px 10px 20px 10px;
    /* margin: 10px auto; */
    width: auto;
}
.section-heading span{
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* SKILL SECTION */

.skills-display{
    width: 70%;
    /* height: 70vh; */
    /* border: 2px solid #2857a4; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    /* align-items: stretch; */
}

.skill-progress{
    height: 3rem;
    width: 15rem;
    /* margin: auto; */
    margin: 1rem;
    border-radius: 1.2rem;
    background-color: lightgray;
    /* box-shadow: #666; */
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
}

.skill-progress > div{     

    /* It ensures that only the direct children of "skill-progress" will be affected and not the grand-children */

    border-radius: 1.2rem 0rem 0rem 1.2rem;
    display:flex;
    align-items: center;
}

.skill-name span{
    color: aliceblue;
    font-size: 1.3rem;
    margin-left: 10px;
}


/*  COMMON MARGIN CLASSES */

.mb75px{
    margin-bottom: 75px;
}

/*  COMMON COLOR CLASSES */

/* .mb-blue{
    margin-bottom: #2857a4;
} */

/*  PERCENTAGE CLASSES */

.sixty-five-per{
    height: inherit;
    width: 65%;
    background-color: lightblue;
}
.sixty-eight-per{
    height: inherit;
    width: 68%;
    background-color: lightseagreen;
}
.seventy-per{
    height: inherit;
    width: 70%;
    background-color: orange;
}
.seventy-two-per{
    height: inherit;
    width: 72%;
    background-color: violet;
}
.seventy-four-per{
    height: inherit;
    width: 74%;
    background-color: brown;
}
.seventy-five-per{
    height: inherit;
    width: 75%;
    background-color: lightgreen;
}
.seventy-six-per{
    height: inherit;
    width: 76%;
    background-color: darkolivegreen;
}
.seventy-eight-per{
    height: inherit;
    width: 78%;
    background-color: indigo;
}
.eighty-per{
    height: inherit;
    width: 80%;
    background-color: lightcoral;
}
.eighty-two-per{
    height: inherit;
    width: 82%;
    background-color: blue;
}
.eighty-five-per{
    height: inherit;
    width: 85%;
    background-color: red;
}
.ninety-per{
    height: inherit;
    width: 90%;
    background-color:steelblue;
}


/* PORTFOLIO SECTION */ 

.portfolio-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    height: auto;
    margin:auto;
    /* border: 2px solid black; */
}
.project{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 13.5rem;
    width: 24rem;
    /* border: 1px solid #666; */
    border-radius: 0rem 0rem 3rem 3rem;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.project:hover .overlay {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);

  }
.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(50, 50, 50, 0.6);
    color: aliceblue;
    opacity: 0;
    transition: opacity 0.5s  , transform 0.5s;
    transform: translateY(-100%);
    padding: 20px;
  }
  
  .overlay h2 {
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;

  }
  
  .overlay p {
    margin-bottom: 0;
    text-align: center;
    font-size: large;
    letter-spacing: 1px;
  }

  .project-info{
    margin-top: 2rem;
  }

  .project-link{
    margin-top: 1rem;
  }

  /* The .overlay class represents the overlay element that appears on top of the image when the user hovers over the portfolio item. The overlay element is initially hidden (opacity: 0) and positioned at the top of the container (transform: translateY(-100%)). When the user hovers over the portfolio item("project"), the opacity and transform properties are transitioned to create the hover effect (opacity: 1; transform: translateY(0)). */


  /* EXPERIENCE & EDUCATION SECTION */ 

  .timeline{
    position: relative;
    /* border: 5px solid black; */
    width: 80%;
    height: auto;

  }
  .timeline-box{
    position: relative;
    /* border: 2px solid blue; */
    width: 40%;
    height: 25vh;
    left: 5%;
    margin: 5% 0;
  }
  .timeline-box:nth-child(even){
    left: 55%; 
  }
  .timeline-box:nth-child(odd)::after{
    content: "";
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: lightgray;
    position: absolute;
    top: 10%;
    right: -14.5%;
    z-index: 1;
  }
  .timeline-box:nth-child(even)::before{
    content: "";
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: lightgray;
    position: absolute;
    top: 10%;
    left: -14.3%;
    z-index: 1;
  }

  .timeline-divider{
    position: absolute;
    height: 62%;
    width: 0;
    border: 2px dashed #0096fa6b;
    top: 10%;
    left: 50%;
  }
  
  .timeline-traveler{
    position: sticky;
    top: 40%;
    transform:rotate(90deg);
    z-index: 2;
  }
  .timeline-divider .timeline-traveler i{
    color:#2857a4;
  }

  .designation, .degree-name{
    font-size: 1.5rem;
    color: #2857a4;
    font-weight:bold;
    margin-bottom: 0.7rem;
  }
  .organization, .institute{
    font-size: 1.2rem;
    color: #EE822D;
    font-weight: lighter;
  }
  .timeline-box > .year, .board, .time-period{
    color: gray;
    font-size: 1rem;
  }
  .timeline-box > .year, .time-period{
    margin-bottom: 0.7rem;
  }
  .designation, .degree-name, .organization, .institute, .year, .time-period, .board{
    text-align: right;
  }


  /* CONTACT SECTION */ 
  
  #contact{
    padding: 0;
    height: auto;
    width: 100vw;
    background: linear-gradient(to right, #3976f8,#6d33f4);
    opacity: 0.9;
  }
  #contact-overlay{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    color: aliceblue;
  }
  #contact-heading{
    height: auto;
    width: auto;
    margin-top: 3rem;
    padding: 20px 10px 20px 10px;
  }

  #contact-heading span{
    font-family: Comic Sans MS, cursive;
    color: aliceblue;
    display: inline-block;
    margin-right: 1rem;
  }

  #contact-form{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    color: aliceblue;
  }
  #contact-form ul{
    padding: 0;
  }
  #contact-form ul li{
    list-style: none;
    text-align:center;
  }
  #contact-form ul li input, textarea{
    width: 80%;
    margin-bottom: 2rem;
    background-color:transparent;
    font-size: large;
    font-family: Comic Sans MS, cursive;
    color: aliceblue;
    border: none;
    border-bottom: 2px solid aliceblue;
  }
  .height2rem{
    height: 2rem;
  }
  .height5rem{
    height: 5rem;
  }
  #form-btn{
    height: 3rem;
    color: aliceblue;
    background-color:transparent;
    font-size: large;
    font-family: Comic Sans MS, cursive;
    border: 2px solid aliceblue;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 15px #888888;
  }
  #form-btn:hover{
    background-color: rgb(38, 16, 82);
    border: 2px solid black;
    box-shadow: 5px 5px 15px #3e3e3e;
  }


  #contact-details{
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    height: auto;
    padding: 2rem;
  }
  #contact-details h2{
    color: aliceblue;
    font-weight:lighter;
    font-family: Comic Sans MS, cursive;
  }
  #contact-details p{
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #contact-details p, #my-address{
    color: lightgray;
    font-family: Comic Sans MS, cursive;
  }
  #my-address li{
    list-style: none;
    line-height: 2.5rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
  }
  .contact-social{
    border-radius: 50%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .contact-social:hover{
    animation: blinking2 1s infinite;
  }



    /*  MEDIA QUERIES  */ 


  @media only screen and (max-width: 950px) {
    html{
      font-size: 14px;
    }
    #body-header{
      height: 40vh;  
    } 
    #name-social-container{
      margin-top: 8vh;
    }
    #my-image{
      height: 20vh;
      width: 18vh;
      margin: auto;
      margin-top: -10vh;
    }
    .project{
      height: 16.2rem;
      width: 28.8rem;
      background-size: cover;
      margin-bottom: 4rem;

      /* height: 13.5rem;
      width: 24rem; */
    }
    .timeline-divider{
      height: 64%;
      top: 7%;
      left: 5%;
    } 
    /* .timeline-box{
      left: 12%;
      width: 80%;
    }
    .timeline-box:nth-child(even){
      left: 12%;
    } */
    .timeline-box{
      left: 12% !important; /* assigns higher priority to it over any other conflicting CSS rule*/
      width: 80%;
    }
    .timeline-box:nth-child(odd)::after{
      left: -10%;
    }
    .timeline-box:nth-child(even)::before{
      left: -10%;
    }
    #contact-form{
      width: 100%;
      margin-bottom: 7rem;
    }
    #contact-details{
      width: 100%;
    }
  }

@media only screen and (max-width: 572px) {
  html{
    font-size: 14px;
  }
  #body-header{
    height: 30vh;
  }
  .social:active, .social:focus{
    animation: blinking2 1s infinite;
  }
  #my-image{
    height: 10rem;
    width: 9rem;
    margin: auto;
    margin-top: -9vh;
  }
  .timeline-divider{
    height: 64%;
    top: 7%;
    left: 5%;
  } 
  .timeline-box{
    left: 12% !important; /* assigns higher priority to it over any other conflicting CSS rule*/
    width: 80%;
  }
  .timeline-box:nth-child(odd)::after{
    left: -10%;
  }
  .timeline-box:nth-child(even)::before{
    left: -10%;
  }
  #contact-form{
    width: 100%;
    margin-bottom: 7rem;
  }
  #contact-details{
    width: 100%; 
  }
}


  